/* Mobile Device Responsive */
@media screen and (max-width: 576px) {
  /* Navbar responsiveness start from here */
  header nav {
    padding: 16px 0;
  }
  nav .nav-links {
    display: none;
  }
  /* Navbar responsiveness end here */

  /* Hero Section start from here */
  #hero-area .hero-container {
    flex-direction: column;
    gap: 24px;
    text-align: center;
    margin: 24px auto;
  }
  #hero-area .hero-container .hero-title {
    font-size: 2.25rem;
  }
  #hero-area .hero-container .hero-description {
    font-size: 1rem;
    margin: 15px 0;
  }
  main .btn-primary {
    padding: 16px 32px;
  }
  main .hero-image img {
    width: 100%;
  }
  /* Hero Section end here */

  /* About section responsive start from here */
  #about {
    margin: 50px auto;
    flex-direction: column;
    gap: 25px;
  }
  #about .about-con-left {
    text-align: center;
  }
  #about .section-title,
  #achievement .section-title,
  #testimonials .section-title,
  #cta .section-title {
    font-size: 1.5rem;
  }
  #about .about-con-left p {
    font-size: 1rem;
    margin-top: 12px;
  }
  #about .about-con-right {
    grid-template-columns: repeat(1, 1fr);
  }
  /* About section responsive end here */

  /* Achievement section responsive start from here */

  main #achievement {
    padding: 25px 0;
  }
  main #achievement .sub-heading {
    font-size: 1rem;
    line-height: 150%;
  }
  main #achievement .achievement-number {
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
  }
  /* Achievement section responsive end here */

  /* Testimonials section responsive start from here */
  main #testimonials {
    padding: 25px 0;
  }
  main #testimonials .test-item-container {
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
  }
  /* Testimonials section responsive end here */

  /* CTA section responsive start from here */

  main #cta {
    flex-direction: column;
    gap: 17px;
  }
  main #cta .cta-content p {
    font-size: 1rem;
  }
  main #cta .cta-content button {
    font-size: 1rem;
  }
  main #cta .cta-img img {
    width: 100%;
  }
  /* CTA section responsive end here */
}
