/* Some fronts imported from font.google.com */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #fff;
}
img {
  display: flex;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
ol,
ul,
li {
  list-style: none;
}

.container {
  max-width: 1110px;
  margin-inline: auto;
  width: 80%;
}

/* Navbar styles start from here */
header {
  /* z-index: 1; */
  background-color: #fff;
  position: relative;
  box-shadow: 0 0px 20px 0 #e6c9c9;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.nav-links {
  display: flex;
  gap: 50px;
  padding: 12px;
}
.nav-links li a {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 400;
  color: #2d2f30;
}
.search-icon i {
  font-size: 1.5rem;
  color: #2d2f30;
}
/* Navbar styles end here */

/* Hero Area styles start from here */
#hero-area {
  background: #f9f8f9;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content .hero-title {
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1.5px;
  color: #094b72;
}
.hero-content .hero-description {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #4f4f4f;
  margin: 32px 0;
}
.btn-primary {
  padding: 28px 36px;
  border-radius: 8px;
  background: #094b72;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #f9f8f9;
  line-height: 140%;
  border: none;
  letter-spacing: 1.25px;
  cursor: pointer;
  transition: all linear 0.3s;
}
.btn-primary:hover {
  background: #358cbe;
  box-shadow: 0 0 20px 0 #999;
  transform: translateY(-4px);
}
/* Hero Area styles end here */
