/* Some fronts imported from font.google.com */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
}
img {
  display: flex;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
ol,
ul,
li {
  list-style: none;
}

.container {
  max-width: 1110px;
  margin-inline: auto;
  width: 80%;
}

/* Navbar styles start from here */
header {
  /* z-index: 1; */
  background-color: #fff;
  position: relative;
  box-shadow: 0 0px 20px 0 #e6c9c9;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.nav-links {
  display: flex;
  gap: 50px;
  padding: 12px;
}
.nav-links li a {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 400;
  color: #2d2f30;
}
.search-icon i {
  font-size: 1.5rem;
  color: #2d2f30;
}
/* Navbar styles end here */

/* Hero Area styles start from here */
#hero-area {
  background: #f9f8f9;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content .hero-title {
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1.5px;
  color: #094b72;
}
.hero-content .hero-description {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #4f4f4f;
  margin: 32px 0;
}
.btn-primary {
  padding: 28px 36px;
  border-radius: 8px;
  background: #094b72;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #f9f8f9;
  line-height: 140%;
  border: none;
  letter-spacing: 1.25px;
  cursor: pointer;
  transition: all linear 0.3s;
}
.btn-primary:hover {
  background: #358cbe;
  box-shadow: 0 0 20px 0 #999;
  transform: translateY(-4px);
}
/* Hero Area styles end here */

/* About us section styles start from here */
#about {
  margin: 100px auto;
  display: flex;
  gap: 50px;
}
.section-title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.325px;
  color: #2d2f30;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
}
.about-con-left p {
  color: #8b8c8c;
  font-size: 1.25rem;
  line-height: 180%;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.about-con-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.about-con-right .card {
  padding: 24px;
  background: #fcfcfc;
  /* border: 1px solid black; */
  box-shadow: 0 18px 58px 16px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.card .card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #363940;
  margin: 16px 0 10px 0;
  font-family: "Playfair Display", serif;
}
.card .card-description {
  color: #8b8c8c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
/* About us section styles end here */

/* Achievement section styles start from here */
#achievement {
  background: url(../images/achievement-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}
.achievement-container .section-title {
  color: #fff;
  margin-bottom: 8px;
}
.achievement-container .sub-heading {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}
.achievement-number {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 48px;
  font-family: "Poppins", sans-serif;
}
.number h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}
.number p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.3px;
}
/* Achievement section styles end here */

/* Testimonials section styles start from here */

#testimonials {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 50px 0;
}
.test-item-container {
  margin-top: 48px;
  display: flex;
  gap: 30px;
  text-align: left;
}
.test-item {
  border-radius: 10px;
  background: #fff;
  padding: 32px;
  box-shadow: 0 10px 20px 0 rgba(41, 41, 42, 0.07);
}
.test-item h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #151617;
  margin-bottom: 8px;
}
.test-item p {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
}
.client {
  display: flex;
  gap: 16px;
  align-items: center;
  /* border: 1px solid red; */
}

.client-content .client-name {
  color: #151617;
  font-size: 18px;
  font-weight: 700;
  line-height: 155%;
}
.client-content p {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
  line-height: 170%;
}
/* Testimonials section styles end here */

/* CTA section styles start from here */
#cta {
  display: flex;
  gap: 34px;
  align-items: center;
}
.cta-content p {
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin: 14px 0 8px 0;
}
.cta-content button {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #f9f8f9;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 160%;
  padding: 14px 36px;
  letter-spacing: 0.5px;
}
/* CTA section styles end here */

/* Footer style start from here */

footer {
  background: #0f6e8c;
  padding: 70px 0;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container .footer-left {
  flex: 1;
}
.footer-container .footer-links {
  flex: 1;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer-links .footer-link .footer-title {
  color: #f4f5f7;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  margin-bottom: 32px;
}
.footer-link ul li a {
  color: #eeeff4;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
  margin-bottom: 12px;
  transition: all linear 0.3s;
  &:hover {
    color: #555;
  }
}
.footer-link ul li:last-child {
  margin-bottom: 0;
}
/* Footer style end here */

/* Copyright section styles start from here */
.copyright {
  background: #05546d;
  padding: 20px 0;
}
.copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.social-links {
  display: flex;
  gap: 16px;
}
.social-links li {
  height: 36px;
  width: 36px;
  background: rgba(249, 248, 249, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social-links li a {
  color: #fff;
  display: block;
}
/* Copyright section styles end here */
